.digital-garden-footer {
  margin-top: 3rem;           /* spazio sopra il footer */
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: 1px solid var(--line);
}

/* Wrapper interno: eredita lo stile delle note */
.digital-garden-footer .footer-inner {
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  text-align: left;            /* come le note */
}
